#content-block-camp {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
}

.camp-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: hidden;
}

.camp-img-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.img-overlay {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(46, 46, 46);
    opacity: 0.5;
}

.camp-img-container img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 60% 50%;
}

.camp-content-container {
    position: absolute;
    width: min(80%, 400px);
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow-y: auto;
}

.camp-content {
    margin-top: 35dvh;
    color: white;
}

@media (max-width: 400px) {
    .camp-content {
        margin-top: 10dvh;
        color: white;
    }
}

.camp-content h2 {
    width: 75%;
}