
#content-block-collab {
    height: 100dvh;
    width: 100vw;
}

.collab-container {
    height: 100dvh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: rgb(239, 239, 239);
}


.photo-container {
    display: block;
    min-width: 330px;
    max-width: 500px;
    aspect-ratio: 9 / 16;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 8px 8px rgb(92, 92, 92);
    position: relative;
}

.img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    display: none;
}

video {
    display: block;
}

.collaboration-content {
    display: block;
    grid-column: 2 / 3;
    min-width: 330px;
    max-width: 500px;
    padding: 1rem;
    font-size: clamp(18px, 1.3vw, 24px);
    line-height: 24px;
}

.collaboration-content > h1 {
    font-size: clamp(24px, 1.5vw, 30px);
}

@media (max-width: calc(660px + 3rem)) {
    .collab-container {
        padding-top: 4rem;
        flex-direction: column;
    }

    .photo-container {
        height: 100%;
        width: 96%;
    }

    .collaboration-content {
        width: 96%;
        padding: 0;
        font-size: max(2vw, 18px);
    }
}

.collab-nav-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;    
    bottom: 0;
}

.collab-nav-buttons > button {
    height: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    color: white;
    background-color: rgb(69, 69, 69, 0.65);
    backdrop-filter: blur(2px);
    box-shadow: 0px 1px 8px rgba(169, 169, 169, 0.5);
}

.collab-nav-buttons > button:active {
    background-color: rgba(69, 69, 69, 0.9);
}

.active-img {
    display: block;
}