
#content-block-desc {
    height: 100dvh;
    width: 100%;
    background-color: rgb(239, 239, 239);
    display: flex;
}

.desc-container {
    height: 80dvh;
    width: min(90vw, 850px);
    margin: auto;
    border: 1px solid grey;
    background-color: transparent;
    position: relative;

}

.desc-content-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
}

.desc-content-item {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
}


/* Block navigation and forward/back button */

.desc-btn-container {
    width: auto;
    /* position: absolute; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 50%;
    bottom: -4rem;
    transform: translate(-50%, 0);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(1px);
}

.desc-btn-container > button {
    height: 50px;
    aspect-ratio: 1 / 1;
    background-color: rgb(60, 60, 92);
    align-content: center;
    text-align: center;
    color: white;
}

.desc-btn-container > span {
    height: 30px;
    aspect-ratio: 1 / 1;
    align-content: center;
    text-align: center;
    color: black;
    border-radius: 50px;
}

.active-block {
    background-color: pink;
    color: black;
}


/* content styling */

.desc-content-item li {
    margin-left: 20px;
    padding-left: 10px;
}


.list-tile-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1rem;
    width: fit-content;
}

.list-tile-container > div {
    border: 1px solid rgb(74, 74, 74);
    padding: 1rem;
    flex: 0 1 auto;
}

.list-tile img {
    height: 20px;
    margin-bottom: 1rem;
}

.list-tile {
    font-size: 0.7rem;
    white-space: nowrap;
}
