#content-block-gallery {
    height: 100dvh;
    width: 100vw;
    background-color: rgb(239, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-carousel {
    display: block;
    width: 100vw;
    margin-top: 4rem;
    height: fit-content;
    padding: 3% 0 13% 0;
    width: 100vw;
    overflow: hidden;
    touch-action: none;
    flex-shrink: 0;
}

.gallery-track {
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    gap: 1rem;
}

.gallery-item {
    flex-shrink: 0;
    width: min(90vw,450px);
    aspect-ratio: auto 6016 / 4016;
    overflow: hidden;
    border-radius: 15px;
    will-change: transform;
    box-shadow: 0px 1px 6px rgb(71, 71, 71);
}

.gallery-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gallery-desc-container {
    background-color: transparent;
    width: min(90vw, 850px);
    flex-grow: 0;
    flex-shrink: 1;
    padding: 1rem;
    border: 1px solid grey;
    margin: 0 1rem 1rem 1rem;
    overflow-y: auto;
}